<div class="header">
    <div class="top">
        <div class="top-left ">
            <img src="https://shopfront.takealot.com/48252df12653c6f32b1126b7da3415b1caa32ad1/static/media/src/images/logo.svg-f6ccb489b85bbddf97d6.svg" alt="takealotLogo">
            
            <ul>
                <li> <a href="">Center</a> </li>
                <li class="slash"><a href="">Sell on takealot</a> </li>
                
            </ul>
        </div>

        <div class="top-right"></div>

    </div>
        <div class="bottom"></div>
    
</div>
                

<!--<img src="https://shopfront.takealot.com/48252df12653c6f32b1126b7da3415b1caa32ad1/static/media/src/images/logo.svg-f6ccb489b85bbddf97d6.svg" height="37px" width="180px" class="top-nav-module_logo_R1oac" alt="Takealot">-->